doctype html
html
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(name='', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        //if lt IE 9
            script(src='//html5shim.googlecode.com/svn/trunk/html5.js')

        link(rel='stylesheet', href='./stylesheets/vendor/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='./stylesheets/vendor/bootstrap/bootstrap-theme.min.css')
        link(rel='stylesheet', href='./stylesheets/style.css')
        script(type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js')
    body
        block content

        script(type='text/javascript' src='./javascripts/vendor/bootstrap/bootstrap.min.js')
        #powered-by-unbounce(style='display: block !important;position:absolute !important;visibility:visible !important;text-indent: 0 !important;bottom:0px !important;width:100% !important;height:28px !important;overflow:hidden !important;background:#0d0e0f !important;z-index:999999 !important;text-align:center !important;font-size:11px !important;color:#ffffff !important;font-weight:bold !important;')
            a(href='/', rel='nofollow', target='_blank', style="display: inline !important;position:static !important;visibility:visible !important;text-indent: 0 !important;z-index:999999 !important;font-size:11px !important;color:#fff !important;font-family:'trebuchet ms' !important;font-weight:bold !important;line-height:26px !important;color:#aaa !important;", title='Build, Publish and Test Landing Pages with Unbounce')
            | Chat Room was made with love
            //span(style="color:#FF0000;") ?
            | by Gabriel Schmith


