body
  overflow: hidden

body.vegas-container
  overflow: hidden

h1
  font-family: Arial,sans-serif
  font-size:80px
  color:#ffffff

.lead
  color:#ffffff

/* Custom container */
.container-full
  margin: 0 auto
  width: 100%
  min-height:100%
  color:#ffffff
  overflow:hidden

.container-full a
  color:#efefef
  text-decoration:none

.v-center
  margin-top:7%

.v-center i
  color: #d9534f

.form-control
  background-color: #ffffff
  background-image: none
  border: 1px solid #999999
  border-radius: 0
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
  color: #333333
  display: block
  font-size: 14px
  height: 34px
  line-height: 1.42857
  padding: 10px 16px
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
  width: 100%

.input-group-btn button
  background-color: #ea533f
  border: 1px solid #999999
  color: #ffffff
  border-radius: 0
  font-size: 18px
  line-height: 1.33
  padding: 4.8px 16px
  width: 100%

.input-group-btn button:hover,
.input-group-btn button:focus
  background: #de2f18
  border-color: #be2815